In [1]:
import pandas as pd
import numpy as np
import configparser as cp
from plotnine import *
import mysql.connector
from sqlalchemy import create_engine

In [2]:
## db connection
config=cp.ConfigParser()
config.read('/home/ubuntu/certi/db_login.txt')
db_config=config['ivan_db']


## 2. db connection
engine=create_engine('mysql+mysqlconnector://{0:s}:{1:s}@{2:s}/{3:s}'.format(db_config['userid'],
                                                                             db_config['pwd'],
                                                                             db_config['hostname'],
                                                                             db_config['schema']
                                                                            ))
engine

Engine(mysql+mysqlconnector://ilong:***@ivandb.cnwzhaenwyah.us-east-2.rds.amazonaws.com:3306/covid19)

# Data Loading

### Stock Prices

In [3]:
## stock_price
df_stock_price=pd.read_sql("""SELECT *
                              FROM STOCK_PRED.ALL_STOCK_HIST
                              WHERE DATE>=STR_TO_DATE('2012-01-01','%Y-%m-%d')
                              AND STOCK IN ('NVDA','CRM','MSFT','UNH','GS','HD','V','DIS','BA') """, con=engine)
print(df_stock_price.shape)
print(df_stock_price.Stock.nunique())
print(df_stock_price['Date'].min(),df_stock_price['Date'].max())
df_stock_price.info()

(22395, 9)
9
2012-01-03 00:00:00 2021-11-18 00:00:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22395 entries, 0 to 22394
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          22395 non-null  datetime64[ns]
 1   Open          22395 non-null  float64
 2   High          22395 non-null  float64
 3   Low           22395 non-null  float64
 4   Close         22395 non-null  float64
 5   Volume        22395 non-null  float64
 6   SE            22395 non-null  object
 7   Stock         22395 non-null  object
 8   REFRESH_DATE  22395 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(5), object(2)
memory usage: 1.5+ MB

In [4]:
df_stock_price.head(5)

,Date,Open,High,Low,Close,Volume,SE,Stock,REFRESH_DATE
0,2012-01-03,21.570306,21.903407,21.440316,21.749044,64731500.0,NASDAQ,MSFT,2021-08-15
1,2012-01-04,21.789669,22.317756,21.757173,22.260885,80516100.0,NASDAQ,MSFT,2021-08-15
2,2012-01-05,22.244624,22.528979,22.171506,22.488358,56081400.0,NASDAQ,MSFT,2021-08-15
3,2012-01-06,22.366499,22.902710,22.366499,22.837715,99455500.0,NASDAQ,MSFT,2021-08-15
4,2012-01-09,22.788964,22.829587,22.520858,22.537107,59706800.0,NASDAQ,MSFT,2021-08-15

In [5]:
df_stock_price.groupby(['Stock']).agg(num_records=('Date','size'),
                                      min_date=('Date','min'),
                                      max_date=('Date','max'),
                                      min_price=('Close','min'),
                                      max_price=('Close','max')
                                     ).reset_index(drop=False)

  Stock  num_records   min_date   max_date  min_price   max_price
0    BA         2488 2012-01-03 2021-11-18  55.241615  430.299988
1   CRM         2489 2012-01-03 2021-11-18  24.370001  309.959991
2   DIS         2489 2012-01-03 2021-11-18  34.300621  201.910004
3    GS         2489 2012-01-03 2021-11-18  79.032585  423.850006
4    HD         2488 2012-01-03 2021-11-18  34.111156  405.850006
5  MSFT         2488 2012-01-03 2021-11-18  21.749044  341.269989
6  NVDA         2488 2012-01-03 2021-11-18   2.614228  316.750000
7   UNH         2487 2012-01-03 2021-11-18  43.194290  464.350006
8     V         2489 2012-01-03 2021-11-18  23.094339  250.588379

### Stock Recommendations

In [6]:
df_stock_recom=pd.read_sql("""SELECT *
                              FROM STOCK_PRED.STOCK_RECOMMENDS
                              WHERE STOCK IN ('NVDA','CRM','MSFT','UNH','GS','HD','V','DIS','BA') """, con=engine)
df_stock_recom.columns=df_stock_recom.columns.str.replace(' ','_')
print(df_stock_recom.shape)
print(df_stock_recom.Stock.nunique())
df_stock_recom.info()

(2515, 7)
9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2515 entries, 0 to 2514
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2515 non-null   datetime64[ns]
 1   Firm          2515 non-null   object
 2   To_Grade      2515 non-null   object
 3   From_Grade    2515 non-null   object
 4   Action        2515 non-null   object
 5   Stock         2515 non-null   object
 6   REFRESH_DATE  2515 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(5)
memory usage: 137.7+ KB

In [7]:
## review
df_stock_recom

,Date,Firm,To_Grade,From_Grade,Action,Stock,REFRESH_DATE
0,2012-01-18 00:00:00,Societe Generale,Sell,,down,BA,2021-11-16 09:51:15
1,2012-04-11 00:00:00,Deutsche Bank,Buy,,main,BA,2021-11-16 09:51:15
2,2012-04-25 00:00:00,DA Davidson,Neutral,,main,BA,2021-11-16 09:51:15
3,2012-04-26 00:00:00,Morgan Stanley,Overweight,,main,BA,2021-11-16 09:51:15
4,2012-05-21 00:00:00,Argus Research,Buy,,up,BA,2021-11-16 09:51:15
...,...,...,...,...,...,...,...
2510,2021-09-17 10:57:24,B of A Securities,Buy,,main,NVDA,2021-11-16 09:51:15
2511,2021-09-28 11:15:04,Susquehanna,Positive,,main,NVDA,2021-11-16 09:51:15
2512,2021-10-05 08:36:41,Keybanc,Overweight,,main,NVDA,2021-11-16 09:51:15
2513,2021-11-04 14:41:41,Wells Fargo,Overweight,,main,NVDA,2021-11-16 09:51:15
2514,2021-11-10 15:07:02,B of A Securities,Buy,,main,NVDA,2021-11-16 09:51:15

In [8]:
## agg
df_stock_recom.groupby(['Stock']).agg(num_records=('Date','size'),
                                      dist_firms=('Firm','nunique'),
                                      min_date=('Date','min'),
                                      max_date=('Date','max')
                                     ).reset_index(drop=False)

  Stock  num_records  dist_firms            min_date            max_date
0    BA          218          43 2012-01-18 00:00:00 2021-10-28 00:00:00
1   CRM          344          77 2012-02-24 09:00:00 2021-11-02 09:32:19
2   DIS          285          58 2012-02-08 08:43:00 2021-10-18 09:23:22
3    GS          212          47 2012-03-16 06:15:00 2021-10-25 12:14:25
4    HD          239          50 2012-02-22 09:06:00 2021-11-09 14:21:06
5  MSFT          358          58 2012-03-16 08:19:00 2021-11-02 09:45:19
6  NVDA          383          65 2012-02-13 07:27:00 2021-11-10 15:07:02
7   UNH          202          38 2012-03-19 09:40:00 2021-11-10 13:04:51
8     V          274          55 2012-02-08 08:05:00 2021-11-01 14:01:38

In [9]:
## To_Grade
df_stock_recom.To_Grade.value_counts()
# Overweight: A stock is rated an Overweight stock by analysts when they discover factors that augur good price performance over the next six to 12 months. The Overweight rating is given when the analyst thinks the stock will outperform other stocks in its market sector or those in a market index like the Standard and Poor's 500
# Outperform: a stock is expected to do slightly better than the market return.
# Market outperform: one that is expected to outperform a specific index or the overall market. It is considered to be a better ranking than market perform and one step less than a strong buy rating

# Buy: Also known as strong buy and "on the recommended list." Needless to say, buy is a recommendation to purchase a specific security.
# Sell: Also known as strong sell, it's a recommendation to sell a security or to liquidate an asset.
# Hold: In general terms, a company with a hold recommendation is expected to perform at the same pace as comparable companies or in line with the market.
# Underperform: A recommendation that means a stock is expected to do slightly worse than the overall stock market return. Underperform can also be expressed as "moderate sell," "weak hold," and "underweight."
# Outperform: Also known as "moderate buy," "accumulate," and "overweight." Outperform is an analyst recommendation meaning a stock is expected to do slightly better than the market return.

# Market Outperform a stock is expected to do better than the market return

Buy                  820
Outperform           465
Overweight           451
Neutral              260
Hold                 185
Market Perform        64
Equal-Weight          64
Sell                  36
Underperform          32
Strong Buy            32
Underweight           19
Market Outperform     16
Positive              16
In-Line               12
Sector Perform        12
Perform                5
Reduce                 4
Long-Term Buy          4
Sector Weight          4
Equal-weight           3
                       2
Top Pick               2
Peer Perform           2
Mixed                  1
Negative               1
Hold Neutral           1
Accumulate             1
Average                1
Name: To_Grade, dtype: int64

In [10]:
grade_map={'Buy':2,
           'Outperform':1, # a stock is expected to do slightly better than the market return.
           'Overweight':1, # A stock is rated an Overweight stock by analysts when they discover factors that augur good price performance over the next six to 12 months. The Overweight rating is given when the analyst thinks the stock will outperform other stocks in its market sector or those in a market index like the Standard and Poor's 500
           'Neutral':0,
           'Hold':0,
           'Market Perform':0, # stock will provide returns that are the same as a specific index such as the S&P 500 or another leading market average. 
           'Equal-Weight':0, # rating suggests that a stock will perform in line with the average of all the stocks that analyst may cover
           'Sell':-3,
           'Underperform':-1,
           'Strong Buy':3,
           'Underweight':-1, # expected to be below the average total return of the analyst's industry
           'Market Outperform':2, # one that is expected to outperform a specific index or the overall market. It is considered to be a better ranking than market perform and one step less than a strong buy rating
           'Positive':1,
           'In-Line':0, # A situation or announcement that meets or nears the expectations of most analysts
           'Sector Perform':0,
           'Perform':0,
           'Reduce':-2,
           'Long-Term Buy':2,
           'Sector Weight':0,
           'Equal-weight':0,
           'Top Pick':3,
           'Peer Perform':0,
           'Mixed':0,
           'Negative':-2,
           'Hold Neutral':0,
           'Accumulate':1, # traders and investors are willing to buy the asset in mass. ... In this sense, accumulation refers to buyers that are more aggressive than sellers, which pushes the price up
           'Average':0  
          }
df_stock_recom.loc[:,'Grade_Score']=df_stock_recom.To_Grade.map(grade_map)
df_stock_recom.groupby(['To_Grade','Grade_Score']).agg(num_records=('To_Grade','size'))

                               num_records
To_Grade          Grade_Score
Accumulate         1.0                   1
Average            0.0                   1
Buy                2.0                 820
Equal-Weight       0.0                  64
Equal-weight       0.0                   3
Hold               0.0                 185
Hold Neutral       0.0                   1
In-Line            0.0                  12
Long-Term Buy      2.0                   4
Market Outperform  2.0                  16
Market Perform     0.0                  64
Mixed              0.0                   1
Negative          -2.0                   1
Neutral            0.0                 260
Outperform         1.0                 465
Overweight         1.0                 451
Peer Perform       0.0                   2
Perform            0.0                   5
Positive           1.0                  16
Reduce            -2.0                   4
Sector Perform     0.0                  12
Sector Weight      0.0                   4
Sell              -3.0                  36
Strong Buy         3.0                  32
Top Pick           3.0                   2
Underperform      -1.0                  32
Underweight       -1.0                  19