In [1]:
import pandas as pd
import numpy as np
import configparser as cp
from plotnine import *
import mysql.connector
from sqlalchemy import create_engine

In [3]:
## db connection
config=cp.ConfigParser()
config.read('/home/ubuntu/certi/db_login.txt')
db_config=config['ivan_db']


## 2. db connection
engine=create_engine('mysql+mysqlconnector://{0:s}:{1:s}@{2:s}/{3:s}'.format(db_config['userid'],
                                                                             db_config['pwd'],
                                                                             db_config['hostname'],
                                                                             'STOCK_PRED'
                                                                            ))
engine

Engine(mysql+mysqlconnector://ilong:***@ivandb.cnwzhaenwyah.us-east-2.rds.amazonaws.com:3306/STOCK_PRED)

# Data Loading

In [6]:
df=pd.read_sql("""SELECT * FROM STOCK_PRED.STOCK_RECOMMENDS_ANALYSIS_1""",con=engine)
print(df.shape)

(3633064, 16)

## Overview

In [9]:
df.dtypes

DATE              datetime64[ns]
OPEN                     float64
HIGH                     float64
LOW                      float64
CLOSE                    float64
VOLUME                   float64
SE                        object
STOCK                     object
REFRESH_DATE      datetime64[ns]
RECOM_DATE        datetime64[ns]
RECOM_END_DATE    datetime64[ns]
FIRM                      object
TO_GRADE                  object
FROM_GRADE                object
ACTION                    object
RECOM_STOCK               object
dtype: object

### NAs & Negative

In [7]:
## NAs
pd.DataFrame({'vals':df.isnull().sum()}).loc[lambda x:x.vals>0]

        vals
OPEN      24
HIGH      24
LOW       24
CLOSE     24
VOLUME    24

In [ ]:
## Negative
pd.DataFrame({'vals':df.select_dtypes(include=['float'])})