In [1]:
import pandas as pd
import numpy as np
import configparser as cp
from plotnine import *
import mysql.connector
from sqlalchemy import create_engine

In [2]:
## db connection
config=cp.ConfigParser()
config.read('/home/ubuntu/certi/db_login.txt')
db_config=config['ivan_db']


## 2. db connection
engine=create_engine('mysql+mysqlconnector://{0:s}:{1:s}@{2:s}/{3:s}'.format(db_config['userid'],
                                                                             db_config['pwd'],
                                                                             db_config['hostname'],
                                                                             'STOCK_PRED'
                                                                            ))
engine

Engine(mysql+mysqlconnector://ilong:***@ivandb.cnwzhaenwyah.us-east-2.rds.amazonaws.com:3306/STOCK_PRED)

# Data Loading

In [3]:
df=pd.read_sql("""SELECT * FROM STOCK_PRED.STOCK_RECOMMENDS_ANALYSIS_1""",con=engine)
print(df.shape)

(3633064, 16)

## Overview

In [4]:
df.dtypes

DATE              datetime64[ns]
OPEN                     float64
HIGH                     float64
LOW                      float64
CLOSE                    float64
VOLUME                   float64
SE                        object
STOCK                     object
REFRESH_DATE      datetime64[ns]
RECOM_DATE        datetime64[ns]
RECOM_END_DATE    datetime64[ns]
FIRM                      object
TO_GRADE                  object
FROM_GRADE                object
ACTION                    object
RECOM_STOCK               object
dtype: object

### NAs & Negative

In [5]:
## NAs
pd.DataFrame({'vals':df.isnull().sum()}).loc[lambda x:x.vals>0]

        vals
OPEN      24
HIGH      24
LOW       24
CLOSE     24
VOLUME    24

In [9]:
df.loc[df.OPEN.isnull(),:]

,DATE,OPEN,HIGH,LOW,CLOSE,VOLUME,SE,STOCK,REFRESH_DATE,RECOM_DATE,RECOM_END_DATE,FIRM,TO_GRADE,FROM_GRADE,ACTION,RECOM_STOCK
80462,2021-08-02,NaN,NaN,NaN,NaN,NaN,NYSE,CAG,2021-08-15,2021-07-14 10:32:40,2021-08-14 10:32:40,B of A Securities,Neutral,Buy,down,CAG
282398,2012-10-29,NaN,NaN,NaN,NaN,NaN,NASDAQ,TXN,2021-08-15,2012-10-10 12:52:00,2012-11-10 12:52:00,Barclays,Equal-Weight,,main,TXN
627376,2018-12-05,NaN,NaN,NaN,NaN,NaN,NASDAQ,GOGL,2021-08-15,2018-11-16 12:29:49,2018-12-16 12:29:49,BTIG Research,Buy,,init,GOGL
655879,2012-10-29,NaN,NaN,NaN,NaN,NaN,NASDAQ,TXN,2021-08-15,2012-10-23 08:02:00,2012-11-23 08:02:00,Canaccord Genuity,Hold,,main,TXN
762408,2012-10-29,NaN,NaN,NaN,NaN,NaN,NYSE,MS,2021-08-15,2012-10-19 08:28:00,2012-11-19 08:28:00,Citigroup,Neutral,,main,MS
762409,2012-10-29,NaN,NaN,NaN,NaN,NaN,NYSE,KMI,2021-08-15,2012-10-17 07:33:00,2012-11-17 07:33:00,Citigroup,Buy,,main,KMI
884487,2018-12-05,NaN,NaN,NaN,NaN,NaN,NYSE,LBRT,2021-08-15,2018-11-29 13:55:43,2018-12-29 13:55:43,Citigroup,Neutral,Neutral,main,LBRT
1026724,2012-10-29,NaN,NaN,NaN,NaN,NaN,NASDAQ,TXN,2021-08-15,2012-10-11 06:22:00,2012-11-11 06:22:00,Credit Suisse,Neutral,Outperform,down,TXN
1238436,2012-10-29,NaN,NaN,NaN,NaN,NaN,NASDAQ,TXN,2021-08-15,2012-10-23 07:34:00,2012-11-23 07:34:00,Deutsche Bank,Hold,,main,TXN
1339354,2018-01-01,NaN,NaN,NaN,NaN,NaN,NYSE,CAH,2021-08-15,2017-12-04 18:32:08,2018-01-04 18:32:08,Deutsche Bank,Hold,,init,CAH
1411544,2012-10-29,NaN,NaN,NaN,NaN,NaN,NYSE,MS,2021-08-15,2012-10-02 08:08:00,2012-11-02 08:08:00,Drexel Hamilton,Buy,,init,MS
1495495,2012-10-29,NaN,NaN,NaN,NaN,NaN,NASDAQ,TXN,2021-08-15,2012-10-23 08:15:00,2012-11-23 08:15:00,Goldman Sachs,Neutral,,main,TXN
1670263,2012-10-29,NaN,NaN,NaN,NaN,NaN,NASDAQ,TXN,2021-08-15,2012-10-08 07:52:00,2012-11-08 07:52:00,ISI Group,Hold,Buy,down,TXN
1701669,2012-10-29,NaN,NaN,NaN,NaN,NaN,NYSE,OHI,2021-08-15,2012-10-23 06:04:00,2012-11-23 06:04:00,Jefferies,Hold,Buy,down,OHI
1701670,2012-10-29,NaN,NaN,NaN,NaN,NaN,NYSE,AOS,2021-08-15,2012-10-18 00:00:00,2012-11-18 00:00:00,Jefferies,Buy,,main,AOS
1731523,2014-07-04,NaN,NaN,NaN,NaN,NaN,NYSE,HUN,2021-08-15,2014-06-04 20:36:28,2014-07-04 20:36:28,Jefferies,Buy,,main,HUN
1746708,2015-04-03,NaN,NaN,NaN,NaN,NaN,NYSE,BKD,2021-08-15,2015-03-20 09:00:00,2015-04-20 09:00:00,Jefferies,Buy,,main,BKD
2142628,2012-10-29,NaN,NaN,NaN,NaN,NaN,NASDAQ,TXN,2021-08-15,2012-10-17 10:44:00,2012-11-17 10:44:00,Longbow Research,Underperform,Neutral,down,TXN
2535874,2021-08-02,NaN,NaN,NaN,NaN,NaN,NYSE,CAG,2021-08-15,2021-07-14 11:41:16,2021-08-14 11:41:16,Morgan Stanley,Equal-Weight,,main,CAG
2714169,2012-10-29,NaN,NaN,NaN,NaN,NaN,NASDAQ,TXN,2021-08-15,2012-10-03 08:21:00,2012-11-03 08:21:00,Pacific Crest,Sector Perform,Outperform,down,TXN
3023608,2012-10-29,NaN,NaN,NaN,NaN,NaN,NYSE,AOS,2021-08-15,2012-10-18 00:00:00,2012-11-18 00:00:00,Sidoti & Co.,Neutral,Buy,down,AOS
3111005,2021-08-02,NaN,NaN,NaN,NaN,NaN,NYSE,CAG,2021-08-15,2021-07-14 10:28:05,2021-08-14 10:28:05,Stifel,Hold,Buy,down,CAG
3241193,2012-10-29,NaN,NaN,NaN,NaN,NaN,NASDAQ,TXN,2021-08-15,2012-10-01 10:13:00,2012-11-01 10:13:00,Susquehanna,Neutral,Positive,down,TXN
3446048,2012-10-29,NaN,NaN,NaN,NaN,NaN,NASDAQ,TXN,2021-08-15,2012-10-19 11:53:00,2012-11-19 11:53:00,Wedbush,Outperform,,main,TXN

In [6]:
## Negative
pd.DataFrame({'vals':df.select_dtypes(include=['float64']).apply(lambda x:(x<0).astype(float).sum())})

        vals
OPEN     0.0
HIGH     0.0
LOW      0.0
CLOSE    0.0
VOLUME   0.0

In [10]:
## Remove NAs
df_1=df.loc[~df.OPEN.isnull(),:].reset_index(drop=True)
print(df.shape)
print(df_1.shape)
df_1.head(5)

(3633064, 16)
(3633040, 16)

,DATE,OPEN,HIGH,LOW,CLOSE,VOLUME,SE,STOCK,REFRESH_DATE,RECOM_DATE,RECOM_END_DATE,FIRM,TO_GRADE,FROM_GRADE,ACTION,RECOM_STOCK
0,2012-07-18,287.412720,290.755188,286.989288,289.295654,3107900.0,NASDAQ,GOOG,2021-08-15,2012-07-17 09:33:00,2012-08-17 09:33:00,,Outperform,,main,GOOG
1,2012-07-19,291.975616,298.122559,291.905853,295.422668,9384300.0,NASDAQ,GOOG,2021-08-15,2012-07-17 09:33:00,2012-08-17 09:33:00,,Outperform,,main,GOOG
2,2012-07-20,303.243378,305.325562,297.973114,304.269531,12975800.0,NASDAQ,GOOG,2021-08-15,2012-07-17 09:33:00,2012-08-17 09:33:00,,Outperform,,main,GOOG
3,2012-07-23,299.118835,308.020477,298.007996,306.605774,7150000.0,NASDAQ,GOOG,2021-08-15,2012-07-17 09:33:00,2012-08-17 09:33:00,,Outperform,,main,GOOG
4,2012-07-24,306.351715,307.811249,301.041626,302.650604,4033800.0,NASDAQ,GOOG,2021-08-15,2012-07-17 09:33:00,2012-08-17 09:33:00,,Outperform,,main,GOOG

# Preprocessing

## Window Function

In [12]:
## Recommnedation start month and end month
df_1.loc[:,'RECOM_PERIOD_STRT_DT']=df_1.groupby(['STOCK','RECOM_DATE','RECOM_END_DATE','FIRM','TO_GRADE'])['DATE'].transform(lambda x:x.min())
df_1.loc[:,'RECOM_PERIOD_END_DT']=df_1.groupby(['STOCK','RECOM_DATE','RECOM_END_DATE','FIRM','TO_GRADE'])['DATE'].transform(lambda x:x.max())

In [14]:
df_1

,DATE,OPEN,HIGH,LOW,CLOSE,VOLUME,SE,STOCK,REFRESH_DATE,RECOM_DATE,RECOM_END_DATE,FIRM,TO_GRADE,FROM_GRADE,ACTION,RECOM_STOCK,RECOM_PERIOD_STRT_DT,RECOM_PERIOD_END_DT
0,2012-07-18,287.412720,290.755188,286.989288,289.295654,3107900.0,NASDAQ,GOOG,2021-08-15,2012-07-17 09:33:00,2012-08-17 09:33:00,,Outperform,,main,GOOG,2012-07-18,2012-08-17
1,2012-07-19,291.975616,298.122559,291.905853,295.422668,9384300.0,NASDAQ,GOOG,2021-08-15,2012-07-17 09:33:00,2012-08-17 09:33:00,,Outperform,,main,GOOG,2012-07-18,2012-08-17
2,2012-07-20,303.243378,305.325562,297.973114,304.269531,12975800.0,NASDAQ,GOOG,2021-08-15,2012-07-17 09:33:00,2012-08-17 09:33:00,,Outperform,,main,GOOG,2012-07-18,2012-08-17
3,2012-07-23,299.118835,308.020477,298.007996,306.605774,7150000.0,NASDAQ,GOOG,2021-08-15,2012-07-17 09:33:00,2012-08-17 09:33:00,,Outperform,,main,GOOG,2012-07-18,2012-08-17
4,2012-07-24,306.351715,307.811249,301.041626,302.650604,4033800.0,NASDAQ,GOOG,2021-08-15,2012-07-17 09:33:00,2012-08-17 09:33:00,,Outperform,,main,GOOG,2012-07-18,2012-08-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3633035,2019-05-16,28.850000,31.150000,28.450001,30.860001,17612000.0,NYSE,PINS,2021-08-15,2019-04-22 13:28:54,2019-05-22 13:28:54,Zephrin Group,Sell,,init,PINS,2019-04-23,2019-05-22
3633036,2019-05-17,25.870001,28.120001,25.700001,26.700001,26271800.0,NYSE,PINS,2021-08-15,2019-04-22 13:28:54,2019-05-22 13:28:54,Zephrin Group,Sell,,init,PINS,2019-04-23,2019-05-22
3633037,2019-05-20,27.240000,27.240000,25.709999,25.850000,7269200.0,NYSE,PINS,2021-08-15,2019-04-22 13:28:54,2019-05-22 13:28:54,Zephrin Group,Sell,,init,PINS,2019-04-23,2019-05-22
3633038,2019-05-21,26.299999,26.549999,25.299999,25.410000,6481700.0,NYSE,PINS,2021-08-15,2019-04-22 13:28:54,2019-05-22 13:28:54,Zephrin Group,Sell,,init,PINS,2019-04-23,2019-05-22
3633039,2019-05-22,25.299999,25.340000,24.100000,24.600000,7955700.0,NYSE,PINS,2021-08-15,2019-04-22 13:28:54,2019-05-22 13:28:54,Zephrin Group,Sell,,init,PINS,2019-04-23,2019-05-22

## Aggregate

In [18]:
## 
df_summary=df_1.groupby(['STOCK','RECOM_DATE','RECOM_END_DATE','FIRM','TO_GRADE']
                       ).apply(lambda x: pd.Series({'RECOM_PERIOD_STRT_DT':x.DATE.min(),
                                                    'RECOM_PERIOD_END_DT':x.DATE.max(),
                                                    'START_PRICE':max(np.where(x.RECOM_PERIOD_STRT_DT==x.DATE,x.CLOSE,0)),
                                                    'END_PRICE':max(np.where(x.RECOM_PERIOD_END_DT==x.DATE,x.CLOSE,0))
                                                     }))
## parallel processing
# https://stackoverflow.com/questions/26187759/parallelize-apply-after-pandas-groupby

In [20]:
df_summary.reset_index(drop=False)

,STOCK,RECOM_DATE,RECOM_END_DATE,FIRM,TO_GRADE,RECOM_PERIOD_STRT_DT,RECOM_PERIOD_END_DT,START_PRICE,END_PRICE
0,A,2012-02-16 00:00:00,2012-03-16 00:00:00,Deutsche Bank,Buy,2012-02-16,2012-03-16,28.688797,29.860443
1,A,2012-03-06 00:00:00,2012-04-06 00:00:00,Morgan Stanley,Overweight,2012-03-06,2012-04-05,27.674252,29.370132
2,A,2012-04-19 00:00:00,2012-05-19 00:00:00,Stifel Nicolaus,Buy,2012-04-19,2012-05-18,27.500467,25.407755
3,A,2012-05-15 00:00:00,2012-06-15 00:00:00,Morgan Stanley,Overweight,2012-05-15,2012-06-15,26.575478,26.247463
4,A,2012-05-15 00:00:00,2012-06-15 00:00:00,Stifel Nicolaus,Buy,2012-05-15,2012-06-15,26.575478,26.247463
...,...,...,...,...,...,...,...,...,...
172387,ZYXI,2021-01-28 15:44:58,2021-02-28 15:44:58,Northland Capital Markets,Market Perform,2021-01-29,2021-02-26,18.070000,14.520000
172388,ZYXI,2021-01-29 14:13:06,2021-02-28 14:13:06,Piper Sandler,Neutral,2021-02-01,2021-02-26,18.170000,14.520000
172389,ZYXI,2021-03-09 12:49:29,2021-04-09 12:49:29,Northland Capital Markets,Outperform,2021-03-10,2021-04-09,16.740000,15.650000
172390,ZYXI,2021-07-16 08:57:49,2021-08-16 08:57:49,B. Riley Securities,Buy,2021-07-19,2021-08-16,16.540001,13.650000
172391,ZYXI,2021-07-30 10:58:08,2021-08-30 10:58:08,HC Wainwright & Co.,Buy,2021-08-02,2021-08-30,14.700000,13.380000

In [21]:
df_summary.to_sql(name='STOCK_RECOMMENDS_ANALYSIS_AGG',
                  con=engine,
                  if_exists='replace',
                  index=False,
                  chunksize=1000
                 )