In [1]:
import pandas as pd
import numpy as np
import configparser as cp
from plotnine import *
import mysql.connector
from sqlalchemy import create_engine
import joblib
import math

from datetime import timedelta

## linear regression
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [2]:
## db connection
config=cp.ConfigParser()
config.read('/home/ubuntu/certi/db_login.txt')
db_config=config['ivan_db']


## 2. db connection
engine=create_engine('mysql+mysqlconnector://{0:s}:{1:s}@{2:s}/{3:s}'.format(db_config['userid'],
                                                                             db_config['pwd'],
                                                                             db_config['hostname'],
                                                                             'STOCK_PRED'
                                                                            ))
engine

Engine(mysql+mysqlconnector://ilong:***@ivandb.cnwzhaenwyah.us-east-2.rds.amazonaws.com:3306/STOCK_PRED)

# Data Loading

In [13]:
df=pd.read_sql("""SELECT * 
                  FROM STOCK_PRED.ALL_STOCK_HIST
                  WHERE DATE>=STR_TO_DATE('2020-01-01','%Y-%m-%d')
                             """,
               con=engine)
print(df.shape)
print(df['Date'].max(),df['Date'].min())

(2790050, 9)
2022-02-08 00:00:00 2020-01-02 00:00:00

In [11]:
# saving
#joblib.dump(df,'/home/ubuntu/Python_Projects/Stock_Price_Prediction/data/STOCK_PRED_2020_Feb82022.pkl')
df

,Date,Open,High,Low,Close,Volume,SE,Stock,REFRESH_DATE
0,2020-01-02,1.350000,1.380000,1.350000,1.350000,4300.0,NASDAQ,AACG,2021-08-15 00:00:00
1,2020-01-03,1.360000,1.490000,1.360000,1.470000,42000.0,NASDAQ,AACG,2021-08-15 00:00:00
2,2020-01-06,1.510000,1.510000,1.360000,1.430000,18700.0,NASDAQ,AACG,2021-08-15 00:00:00
3,2020-01-07,1.390000,1.440000,1.360000,1.430000,13700.0,NASDAQ,AACG,2021-08-15 00:00:00
4,2020-01-08,1.410000,1.580000,1.360000,1.510000,90900.0,NASDAQ,AACG,2021-08-15 00:00:00
...,...,...,...,...,...,...,...,...,...
2790045,2022-02-08,9.400000,9.570000,9.396200,9.550000,177445.0,NYSE,ZTR,2022-02-09 02:55:28
2790046,2022-02-08,198.880005,201.766998,197.850006,201.300003,2522079.0,NYSE,ZTS,2022-02-09 02:55:28
2790047,2022-02-08,16.250000,16.620001,16.209999,16.600000,605392.0,NYSE,ZUO,2022-02-09 02:55:28
2790048,2022-02-08,8.960000,9.569900,8.953400,9.380000,215285.0,NYSE,ZVIA,2022-02-09 02:55:28
2790049,2022-02-08,7.940000,7.960000,7.500000,7.640000,869079.0,NYSE,ZYME,2022-02-09 02:55:28

## 01 Data Cleaning

### NAs

In [14]:
pd.DataFrame({'vals':df.isnull().sum()}).loc[lambda x:x.vals>0,:]

        vals
Open     203
High     203
Low      203
Close    203
Volume   203

In [18]:
## Remove NAs
df_1=df.dropna(axis=0,how='any')
print(df_1.shape)
pd.DataFrame({'vals':df_1.isnull().sum()}).loc[lambda x:x.vals>0,:]

(2789847, 9)

Empty DataFrame
Columns: [vals]
Index: []

### Negative

In [19]:
pd.DataFrame({'vals':df_1.select_dtypes(include=['float64','int64']).apply(lambda x:(x<0).astype('float').sum())}).loc[lambda x:x.vals>0,:]

        vals
Open   304.0
High   304.0
Low    304.0
Close  304.0

In [21]:
df_1.loc[df.Open<0,:].Stock.value_counts()

AIV     212
HCHC     92
Name: Stock, dtype: int64

In [22]:
## Remove stocks that have negative stock price
df_1=df_1.loc[~df_1.Stock.isin(['AIV','HCHC']),:]
print(df_1.shape)

(2788855, 9)

### Stocks with a handful of records

In [25]:
stock_list=df_1.groupby('Stock').agg(num_records=('Date','size'),
                                     num_dis_records=('Date','nunique'),
                                     max_date=('Date','max')
                                    ).reset_index(drop=False).sort_values(by='num_records',ascending=True)
stock_list

     Stock  num_records  num_dis_records   max_date
3354  MCAF           96               96 2022-02-08
4051  ORIA          102              102 2022-02-08
5059  SRNG          105              105 2021-09-16
5513    UK          106              106 2022-02-08
3964   OEG          106              106 2022-02-08
...    ...          ...              ...        ...
485   ATOM          531              531 2022-02-08
486   ATOS          531              531 2022-02-08
488   ATRA          531              531 2022-02-08
490   ATRI          531              531 2022-02-08
2368   GPS          531              531 2022-02-08

[5989 rows x 4 columns]

In [33]:
## non active accounts
non_active_stock=stock_list.loc[stock_list.max_date<pd.to_datetime('2022-02-01',format='%Y-%m-%d'),'Stock'].to_list()
print(len(non_active_stock))

267

In [35]:
df_2=df_1.loc[~df_1.Stock.isin(non_active_stock),:].reset_index(drop=True)
print(df_1.Stock.nunique())
print(df_2.shape,df_2.Stock.nunique())

5989
(2692526, 9) 5722

## 02 Data Formatting

In [37]:
df_2.loc[:,'DAY_ORDER']=df_2.groupby('Stock')['Date'].transform(lambda x:x.rank(method='dense',ascending=True))

In [46]:
df_2.groupby('Stock').agg(num_records=('Date','size'),
                          min_date=('Date','min'),
                          max_date=('Date','max')
                         ).reset_index(drop=False).sort_values(by='num_records',ascending=False).reset_index(drop=True)

     Stock  num_records   min_date   max_date
0     TDOC          531 2020-01-02 2022-02-08
1     ANIX          531 2020-01-02 2022-02-08
2      MRK          531 2020-01-02 2022-02-08
3     APEN          531 2020-01-02 2022-02-08
4     APEI          531 2020-01-02 2022-02-08
...    ...          ...        ...        ...
5717  LAAA          107 2021-07-28 2022-02-08
5718   OEG          106 2021-09-07 2022-02-08
5719    UK          106 2021-09-07 2022-02-08
5720  ORIA          102 2021-07-13 2022-02-08
5721  MCAF           96 2021-09-07 2022-02-08

[5722 rows x 4 columns]

In [47]:
#joblib.dump(df_2,'/home/ubuntu/Python_Projects/Stock_Price_Prediction/data/STOCK_PRED_2020_Feb82022_cleaned.pkl')

['/home/ubuntu/Python_Projects/Stock_Price_Prediction/data/STOCK_PRED_2020_Feb82022_cleaned.pkl']

In [48]:
df_2.loc[df_2.Stock=='CRM',:]

,Date,Open,High,Low,Close,Volume,SE,Stock,REFRESH_DATE,DAY_ORDER
1294751,2020-01-02,163.919998,167.070007,163.580002,166.990005,5189300.0,NYSE,CRM,2021-08-15 00:00:00,1.0
1294752,2020-01-03,165.059998,166.770004,165.000000,166.169998,3205400.0,NYSE,CRM,2021-08-15 00:00:00,2.0
1294753,2020-01-06,165.000000,173.669998,164.449997,173.449997,8836200.0,NYSE,CRM,2021-08-15 00:00:00,3.0
1294754,2020-01-07,173.229996,176.869995,172.089996,176.000000,8272700.0,NYSE,CRM,2021-08-15 00:00:00,4.0
1294755,2020-01-08,175.229996,178.850006,174.750000,177.330002,7225100.0,NYSE,CRM,2021-08-15 00:00:00,5.0
...,...,...,...,...,...,...,...,...,...,...
2668015,2022-02-02,233.740005,234.490005,223.016907,225.009995,8603865.0,NYSE,CRM,2022-02-03 02:55:10,527.0
2677463,2022-02-03,218.070007,220.789993,210.399994,212.770004,12826600.0,NYSE,CRM,2022-02-05 02:55:23,528.0
2677464,2022-02-04,218.070007,221.669998,213.190002,219.229996,5767290.0,NYSE,CRM,2022-02-05 02:55:23,529.0
2685014,2022-02-07,218.070007,221.669998,213.190002,216.970001,5767290.0,NYSE,CRM,2022-02-08 02:55:31,530.0
2690658,2022-02-08,215.600006,217.899994,212.160004,217.429993,5628683.0,NYSE,CRM,2022-02-09 02:55:28,531.0

## 03 Company Mapping

In [52]:
stock_map=pd.read_sql("""SELECT * FROM NYSE_NASDAQ_TICKERS""",con=engine)
print(stock_map.shape)
print(stock_map.Symbol.nunique())
stock_map.head(5)

(5991, 12)
5991

,Symbol,Name,LastSale,NetChange,Change,MarketCap,Country,IPOYear,Volume,Sector,Industry,SE
0,A,Agilent Technologies Inc. Common Stock,154.27,0.41,0.266,4.681219e+10,United States,1999.0,1786735,Capital Goods,Electrical Products,NYSE
1,AA,Alcoa Corporation Common Stock,38.75,-1.63,-4.037,7.241064e+09,None,2016.0,5081059,Basic Industries,Aluminum,NYSE
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,9.72,-0.02,-0.205,1.215000e+09,None,2021.0,164241,Finance,Business Services,NYSE
3,AAIC,Arlington Asset Investment Corp Class A (new),3.78,-0.03,-0.787,1.265589e+08,United States,NaN,162347,Finance,Finance/Investors Services,NYSE
4,AAN,Aarons Holdings Company Inc. Common Stock,27.61,-1.59,-5.445,9.020895e+08,United States,2020.0,168536,Miscellaneous,Diversified Commercial Services,NYSE

## 04 Merge

In [60]:
df_3=df_2.copy()
df_3=pd.merge(df_3,
              stock_map.loc[:,['Symbol','Name','Country','IPOYear','Sector','Industry']],
              how='left',
              left_on='Stock',
              right_on='Symbol'
             )
df_3.drop(['Symbol'],axis=1,inplace=True)
df_3.rename(columns={'DAY_ORDER':'DATE_ORDER'},inplace=True)
df_3.sort_values(by=['Stock','Date'],ascending=True,inplace=True)

print(df_3.shape)
print(df_3.Stock.nunique())
df_3.head(5)

(2692526, 15)
5722

,Date,Open,High,Low,Close,Volume,SE,Stock,REFRESH_DATE,DATE_ORDER,Name,Country,IPOYear,Sector,Industry
1097214,2020-01-02,84.967629,85.412742,84.275223,85.017082,1410500.0,NYSE,A,2021-08-15,1.0,Agilent Technologies Inc. Common Stock,United States,1999.0,Capital Goods,Electrical Products
1097215,2020-01-03,83.750990,84.403830,83.582837,83.652077,1118300.0,NYSE,A,2021-08-15,2.0,Agilent Technologies Inc. Common Stock,United States,1999.0,Capital Goods,Electrical Products
1097216,2020-01-06,83.088254,83.899353,82.692594,83.899353,1993200.0,NYSE,A,2021-08-15,3.0,Agilent Technologies Inc. Common Stock,United States,1999.0,Capital Goods,Electrical Products
1097217,2020-01-07,83.048686,84.334579,83.028907,84.156532,1684700.0,NYSE,A,2021-08-15,4.0,Agilent Technologies Inc. Common Stock,United States,1999.0,Capital Goods,Electrical Products
1097218,2020-01-08,85.026978,85.531445,84.275225,84.987411,1847600.0,NYSE,A,2021-08-15,5.0,Agilent Technologies Inc. Common Stock,United States,1999.0,Capital Goods,Electrical Products

In [59]:
df_3.Stock[0]

'AACG'

In [3]:
#joblib.dump(df_3,'/home/ubuntu/Python_Projects/Stock_Price_Prediction/data/STOCK_PRED_2020_Feb82022_cleaned.pkl')
df_3=joblib.load('/home/ubuntu/Python_Projects/Stock_Price_Prediction/data/STOCK_PRED_2020_Feb82022_cleaned.pkl')
print(df_3.shape)
df_3.head(5)

(2692526, 15)

,Date,Open,High,Low,Close,Volume,SE,Stock,REFRESH_DATE,DATE_ORDER,Name,Country,IPOYear,Sector,Industry
1097214,2020-01-02,84.967629,85.412742,84.275223,85.017082,1410500.0,NYSE,A,2021-08-15,1.0,Agilent Technologies Inc. Common Stock,United States,1999.0,Capital Goods,Electrical Products
1097215,2020-01-03,83.750990,84.403830,83.582837,83.652077,1118300.0,NYSE,A,2021-08-15,2.0,Agilent Technologies Inc. Common Stock,United States,1999.0,Capital Goods,Electrical Products
1097216,2020-01-06,83.088254,83.899353,82.692594,83.899353,1993200.0,NYSE,A,2021-08-15,3.0,Agilent Technologies Inc. Common Stock,United States,1999.0,Capital Goods,Electrical Products
1097217,2020-01-07,83.048686,84.334579,83.028907,84.156532,1684700.0,NYSE,A,2021-08-15,4.0,Agilent Technologies Inc. Common Stock,United States,1999.0,Capital Goods,Electrical Products
1097218,2020-01-08,85.026978,85.531445,84.275225,84.987411,1847600.0,NYSE,A,2021-08-15,5.0,Agilent Technologies Inc. Common Stock,United States,1999.0,Capital Goods,Electrical Products

# Analysis

## Linear Regression

In [27]:
df_3.loc[:,'CLOSE_PRICE']=df_3.Close
df_3.CLOSE_PRICE.describe()

count    2.692526e+06
mean     4.997438e+01
std      4.577619e+02
min      0.000000e+00
25%      7.820000e+00
50%      1.674396e+01
75%      4.343000e+01
max      6.220000e+04
Name: CLOSE_PRICE, dtype: float64

### Function

In [76]:
def linear_reg_analysis_for(df):
    lr_model=smf.ols('CLOSE_PRICE ~ DATE_ORDER',data=df).fit()
    
    model_result={#'Stock':df.Stock[0],
                  'R_squared':[lr_model.rsquared],
                  'Coef':[lr_model.params[1]],
                  
                  #'Start_Date':df.iloc[0,'Date'],
                  #'End_Date':df.iloc[-1,'Date'],
                  #'Start_Price':df.iloc[0,'Close'],
                  #'End_Price':df.iloc[-1,'Close'],
                  #'Num_records':df.shape[0],
                  #'Num_records_dist':df.Date.nunique()  
                 }
    
    return pd.DataFrame(model_result)

In [52]:
def linear_reg_analysis(x):
    
    lr_model=sm.OLS(x.Close,x.DATE_ORDER).fit()
    
    model_result={#'Stock':df.Stock[0],
                  'R_squared':[lr_model.rsquared],
                  'Coef':[lr_model.params[1]],
                  
                  #'Start_Date':df.iloc[0,'Date'],
                  #'End_Date':df.iloc[-1,'Date'],
                  #'Start_Price':df.iloc[0,'Close'],
                  #'End_Price':df.iloc[-1,'Close'],
                  #'Num_records':df.shape[0],
                  #'Num_records_dist':df.Date.nunique()  
                 }
    
    return lr_model.rsquared #pd.DataFrame(model_result)

In [57]:
def linear_test(df):
    return df.shape[0]

In [21]:
lr_model=smf.ols('Close ~ DATE_ORDER',data=df_3.loc[df_3.Stock=='CRM',:]).fit()

In [39]:
df_3.Stock.value_counts()

PSX     531
RFP     531
ATSG    531
KSS     531
M       531
       ...
CLNN    107
OEG     106
UK      106
ORIA    102
MCAF     96
Name: Stock, Length: 5722, dtype: int64

In [77]:
%%time
linear_reg_output=df_3.groupby('Stock').apply(linear_reg_analysis_for)

CPU times: user 4min 45s, sys: 6.96 s, total: 4min 52s
Wall time: 37.6 s

In [78]:
linear_reg_output

         R_squared      Coef
Stock
A     0   0.890683  0.186814
AA    0   0.872056  0.099303
AAC   0   0.149812 -0.000317
AACG  0   0.183496  0.003602
AAIC  0   0.000023  0.000028
...            ...       ...
ZWRK  0   0.031351  0.000147
ZY    0   0.785965 -0.218551
ZYME  0   0.394248 -0.041132
ZYNE  0   0.066311 -0.001458
ZYXI  0   0.075965 -0.006823

[5722 rows x 2 columns]

### Parallel Processing

In [68]:
from pandarallel import pandarallel
# https://github.com/nalepae/pandarallel

In [69]:
pandarallel.initialize(progress_bar=True)

INFO: Pandarallel will run on 16 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [ ]:
## Implementing
df_3.groupby('Stock').parallel_apply(linear_reg_analysis_for)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=358), Label(value='0 / 358'))), HBâ€¦

In [83]:
for i in df_3[:10].groupby(['Stock']):
    print(i)
    print(i.dtypes)

('A',               Date       Open       High        Low      Close     Volume  \
1097214 2020-01-02  84.967629  85.412742  84.275223  85.017082  1410500.0
1097215 2020-01-03  83.750990  84.403830  83.582837  83.652077  1118300.0
1097216 2020-01-06  83.088254  83.899353  82.692594  83.899353  1993200.0
1097217 2020-01-07  83.048686  84.334579  83.028907  84.156532  1684700.0
1097218 2020-01-08  85.026978  85.531445  84.275225  84.987411  1847600.0
1097219 2020-01-09  85.521563  86.748102  85.234710  86.322769  1912700.0
1097220 2020-01-10  86.767876  87.282229  86.372216  86.639282  1417000.0
1097221 2020-01-13  86.856904  87.361370  85.798518  86.510704  1630200.0
1097222 2020-01-14  86.322764  87.252564  85.758951  87.034950  1675200.0
1097223 2020-01-15  86.678859  88.142799  86.599733  87.658119  1630400.0

           SE Stock REFRESH_DATE  DATE_ORDER  \
1097214  NYSE     A   2021-08-15         1.0
1097215  NYSE     A   2021-08-15         2.0
1097216  NYSE     A   2021-08-15         3.0
1097217  NYSE     A   2021-08-15         4.0
1097218  NYSE     A   2021-08-15         5.0
1097219  NYSE     A   2021-08-15         6.0
1097220  NYSE     A   2021-08-15         7.0
1097221  NYSE     A   2021-08-15         8.0
1097222  NYSE     A   2021-08-15         9.0
1097223  NYSE     A   2021-08-15        10.0

                                           Name        Country  IPOYear  \
1097214  Agilent Technologies Inc. Common Stock  United States   1999.0
1097215  Agilent Technologies Inc. Common Stock  United States   1999.0
1097216  Agilent Technologies Inc. Common Stock  United States   1999.0
1097217  Agilent Technologies Inc. Common Stock  United States   1999.0
1097218  Agilent Technologies Inc. Common Stock  United States   1999.0
1097219  Agilent Technologies Inc. Common Stock  United States   1999.0
1097220  Agilent Technologies Inc. Common Stock  United States   1999.0
1097221  Agilent Technologies Inc. Common Stock  United States   1999.0
1097222  Agilent Technologies Inc. Common Stock  United States   1999.0
1097223  Agilent Technologies Inc. Common Stock  United States   1999.0

                Sector             Industry
1097214  Capital Goods  Electrical Products
1097215  Capital Goods  Electrical Products
1097216  Capital Goods  Electrical Products
1097217  Capital Goods  Electrical Products
1097218  Capital Goods  Electrical Products
1097219  Capital Goods  Electrical Products
1097220  Capital Goods  Electrical Products
1097221  Capital Goods  Electrical Products
1097222  Capital Goods  Electrical Products
1097223  Capital Goods  Electrical Products  )

AttributeError: 'tuple' object has no attribute 'dtypes'

In [28]:
df_size = int(3e7)
df = pd.DataFrame(dict(a=np.random.randint(1, 1000, df_size),
                       b=np.random.rand(df_size)))
df.a.value_counts()

998    30539
882    30529
52     30522
567    30494
656    30479
       ...
380    29605
399    29605
648    29598
434    29597
356    29511
Name: a, Length: 999, dtype: int64

In [32]:
def func(df):
    dum = 0
    for item in df.b:
        dum += math.log10(math.sqrt(math.exp(item**2)))
        
    return dum / len(df.b)

In [33]:
%%time
res = df.groupby("a").apply(func)

CPU times: user 25.1 s, sys: 317 ms, total: 25.4 s
Wall time: 25.4 s

In [34]:
res

a
1      0.072633
2      0.072116
3      0.072335
4      0.072450
5      0.072132
         ...
995    0.072294
996    0.072029
997    0.071983
998    0.071970
999    0.072296
Length: 999, dtype: float64

In [ ]:
%%time
res_parallel = df.groupby("a").parallel_apply(func)