In [40]:
import pandas as pd
import numpy as np
import configparser as cp
from plotnine import *
import mysql.connector
from sqlalchemy import create_engine
import joblib

from datetime import timedelta

In [2]:
## db connection
config=cp.ConfigParser()
config.read('/home/ubuntu/certi/db_login.txt')
db_config=config['ivan_db']


## 2. db connection
engine=create_engine('mysql+mysqlconnector://{0:s}:{1:s}@{2:s}/{3:s}'.format(db_config['userid'],
                                                                             db_config['pwd'],
                                                                             db_config['hostname'],
                                                                             'STOCK_PRED'
                                                                            ))
engine

Engine(mysql+mysqlconnector://ilong:***@ivandb.cnwzhaenwyah.us-east-2.rds.amazonaws.com:3306/STOCK_PRED)

# Data Loading

In [13]:
df=pd.read_sql("""SELECT * 
                  FROM STOCK_PRED.ALL_STOCK_HIST
                  WHERE DATE>=STR_TO_DATE('2020-01-01','%Y-%m-%d')
                             """,
               con=engine)
print(df.shape)
print(df['Date'].max(),df['Date'].min())

(2790050, 9)
2022-02-08 00:00:00 2020-01-02 00:00:00

In [11]:
# saving
#joblib.dump(df,'/home/ubuntu/Python_Projects/Stock_Price_Prediction/data/STOCK_PRED_2020_Feb82022.pkl')
df

,Date,Open,High,Low,Close,Volume,SE,Stock,REFRESH_DATE
0,2020-01-02,1.350000,1.380000,1.350000,1.350000,4300.0,NASDAQ,AACG,2021-08-15 00:00:00
1,2020-01-03,1.360000,1.490000,1.360000,1.470000,42000.0,NASDAQ,AACG,2021-08-15 00:00:00
2,2020-01-06,1.510000,1.510000,1.360000,1.430000,18700.0,NASDAQ,AACG,2021-08-15 00:00:00
3,2020-01-07,1.390000,1.440000,1.360000,1.430000,13700.0,NASDAQ,AACG,2021-08-15 00:00:00
4,2020-01-08,1.410000,1.580000,1.360000,1.510000,90900.0,NASDAQ,AACG,2021-08-15 00:00:00
...,...,...,...,...,...,...,...,...,...
2790045,2022-02-08,9.400000,9.570000,9.396200,9.550000,177445.0,NYSE,ZTR,2022-02-09 02:55:28
2790046,2022-02-08,198.880005,201.766998,197.850006,201.300003,2522079.0,NYSE,ZTS,2022-02-09 02:55:28
2790047,2022-02-08,16.250000,16.620001,16.209999,16.600000,605392.0,NYSE,ZUO,2022-02-09 02:55:28
2790048,2022-02-08,8.960000,9.569900,8.953400,9.380000,215285.0,NYSE,ZVIA,2022-02-09 02:55:28
2790049,2022-02-08,7.940000,7.960000,7.500000,7.640000,869079.0,NYSE,ZYME,2022-02-09 02:55:28

## Data Cleaning

### NAs

In [14]:
pd.DataFrame({'vals':df.isnull().sum()}).loc[lambda x:x.vals>0,:]

        vals
Open     203
High     203
Low      203
Close    203
Volume   203

In [18]:
## Remove NAs
df_1=df.dropna(axis=0,how='any')
print(df_1.shape)
pd.DataFrame({'vals':df_1.isnull().sum()}).loc[lambda x:x.vals>0,:]

(2789847, 9)

Empty DataFrame
Columns: [vals]
Index: []

### Negative

In [19]:
pd.DataFrame({'vals':df_1.select_dtypes(include=['float64','int64']).apply(lambda x:(x<0).astype('float').sum())}).loc[lambda x:x.vals>0,:]

        vals
Open   304.0
High   304.0
Low    304.0
Close  304.0

In [21]:
df_1.loc[df.Open<0,:].Stock.value_counts()

AIV     212
HCHC     92
Name: Stock, dtype: int64

In [22]:
## Remove stocks that have negative stock price
df_1=df_1.loc[~df_1.Stock.isin(['AIV','HCHC']),:]
print(df_1.shape)

(2788855, 9)

### Stocks with a handful of records

In [25]:
stock_list=df_1.groupby('Stock').agg(num_records=('Date','size'),
                                     num_dis_records=('Date','nunique'),
                                     max_date=('Date','max')
                                    ).reset_index(drop=False).sort_values(by='num_records',ascending=True)
stock_list

     Stock  num_records  num_dis_records   max_date
3354  MCAF           96               96 2022-02-08
4051  ORIA          102              102 2022-02-08
5059  SRNG          105              105 2021-09-16
5513    UK          106              106 2022-02-08
3964   OEG          106              106 2022-02-08
...    ...          ...              ...        ...
485   ATOM          531              531 2022-02-08
486   ATOS          531              531 2022-02-08
488   ATRA          531              531 2022-02-08
490   ATRI          531              531 2022-02-08
2368   GPS          531              531 2022-02-08

[5989 rows x 4 columns]

In [33]:
## non active accounts
non_active_stock=stock_list.loc[stock_list.max_date<pd.to_datetime('2022-02-01',format='%Y-%m-%d'),'Stock'].to_list()
print(len(non_active_stock))

267

In [35]:
df_2=df_1.loc[~df_1.Stock.isin(non_active_stock),:].reset_index(drop=True)
print(df_1.Stock.nunique())
print(df_2.shape,df_2.Stock.nunique())

5989
(2692526, 9) 5722

## Data Formatting

In [37]:
df_2.loc[:,'DAY_ORDER']=df_2.groupby('Stock')['Date'].transform(lambda x:x.rank(method='dense',ascending=True))

In [46]:
df_2.groupby('Stock').agg(num_records=('Date','size'),
                          min_date=('Date','min'),
                          max_date=('Date','max')
                         ).reset_index(drop=False).sort_values(by='num_records',ascending=False).reset_index(drop=True)

     Stock  num_records   min_date   max_date
0     TDOC          531 2020-01-02 2022-02-08
1     ANIX          531 2020-01-02 2022-02-08
2      MRK          531 2020-01-02 2022-02-08
3     APEN          531 2020-01-02 2022-02-08
4     APEI          531 2020-01-02 2022-02-08
...    ...          ...        ...        ...
5717  LAAA          107 2021-07-28 2022-02-08
5718   OEG          106 2021-09-07 2022-02-08
5719    UK          106 2021-09-07 2022-02-08
5720  ORIA          102 2021-07-13 2022-02-08
5721  MCAF           96 2021-09-07 2022-02-08

[5722 rows x 4 columns]

In [47]:
#joblib.dump(df_2,'/home/ubuntu/Python_Projects/Stock_Price_Prediction/data/STOCK_PRED_2020_Feb82022_cleaned.pkl')

['/home/ubuntu/Python_Projects/Stock_Price_Prediction/data/STOCK_PRED_2020_Feb82022_cleaned.pkl']