In [3]:
import pandas as pd
import numpy as np

# dash
from jupyter_dash import JupyterDash # from dash import dash
from dash import dcc, html # from dash import html

# plot
import plotly.express as px

# db connection
from sqlalchemy import create_engine
import mysql.connector
import configparser as cp

# Data Loading

In [7]:
config=cp.ConfigParser()
config.read('/home/ubuntu/cert/db_login.txt')
db_config=config['ivan_db']

## connecting
engine=create_engine('mysql+mysqlconnector://{0:s}:{1:s}@{2:s}/{3:s}'.format(db_config['userid'],
                                                                             db_config['pwd'],
                                                                             db_config['hostname'],
                                                                             'STOCK_PRED'
                                                                            ))
engine

Engine(mysql+mysqlconnector://ilong:***@ivandb.cnwzhaenwyah.us-east-2.rds.amazonaws.com:3306/STOCK_PRED)

In [9]:
LINEAR_REG_L40=pd.read_sql("""SELECT *
                              FROM STOCK_PRED.LINEAR_REG_L40
                              WHERE R_SQUARED>0.85
                                AND COEF>0
                                AND MODEL_DATE>STR_TO_DATE('2022-04-07','%Y-%m-%d')
                            ORDER BY MODEL_DATE DESC, WT_COEF DESC """,
                           con=engine
                          )
print(LINEAR_REG_L40.shape)
LINEAR_REG_L40.head(5)

(180, 14)

,Model_date,Stock,Name,Industry,R_squared,Coef,P_values,WT_Coef,Start_Date,End_Date,start_price,end_price,Num_records_dist,growth_rate
0,2022-04-07 19:56:28,TPL,Texas Pacific Land Corporation Common Stock,Oil & Gas Production,0.866783,11.850606,4.157848e-19,10.271902,2022-02-07,2022-04-07,1076.339966,1430.760010,42,0.329283
1,2022-04-07 19:56:28,LLY,Eli Lilly and Company Common Stock,Major Pharmaceuticals,0.938167,1.717916,8.626474e-26,1.611691,2022-02-07,2022-04-07,243.550003,308.429993,42,0.266393
2,2022-04-07 19:56:28,AVAV,AeroVironment Inc. Common Stock,Aerospace,0.906229,1.198194,1.098090e-22,1.085838,2022-02-07,2022-04-07,57.509998,104.150002,43,0.810989
3,2022-04-07 19:56:28,LHCG,LHC Group Common Stock,Medical/Nursing Services,0.879892,1.165554,1.780502e-20,1.025562,2022-02-07,2022-04-07,121.790001,167.589996,43,0.376057
4,2022-04-07 19:56:28,VRTV,Veritiv Corporation Common Stock,None,0.877856,1.155130,2.515979e-20,1.014037,2022-02-07,2022-04-07,88.709999,129.619995,43,0.461166

# 1. Dash Tutorial

## 1.1 Layout

In [12]:
app=JupyterDash(__name__)

df=pd.DataFrame({'Fruit':['Apples','Oranges','Bananas','Apples','Oranges','Bananas'],
                 'Amount':[4,1,2,2,4,5],
                 'City':['SF','SF','SF','Montreal','Montreal','Montreal']
                })
fig=px.bar(df,x='Fruit',y='Amount',color='City',barmode='group')

app.layout=html.Div(children=[
    html.H1(children='Hello Dash'),
    
    html.Div(children="""
        Dash: A web application framework for your data.
    """), # second header
    
    dcc.Graph(id='example-graph',
              figure=fig
    )
    
])

if __name__=='__main__':
    app.run_server(mode='external',host='ec2-18-217-190-173.us-east-2.compute.amazonaws.com',debug=True)

Dash app running on http://ec2-18-217-190-173.us-east-2.compute.amazonaws.com:8050/

In [3]:
app.run_server(mode='external',host='ec2-52-14-195-139.us-east-2.compute.amazonaws.com',debug=True)

     Fruit  Amount      City
0   Apples       4        SF
1  Oranges       1        SF
2  Bananas       2        SF
3   Apples       2  Montreal
4  Oranges       4  Montreal
5  Bananas       5  Montreal

### 1.1.2 More about HTML Components

In [17]:
app=JupyterDash(__name__)

colors={'background':'#111111',
        'text':'#7FDBFF'
      }

df=pd.DataFrame({'Fruit':['Apples','Oranges','Bananas','Apples','Oranges','Bananas'],
                 'Amount':[4,1,2,2,4,5],
                 'City':['SF','SF','SF','Montreal','Montreal','Montreal']
                })

figure=px.bar(df,x='Fruit',y='Amount',color='City',barmode='group')

fig.update_layout(plot_bgcolor=colors['background'],
                  paper_bgcolor=colors['background'],
                  font_color=colors['text']
                 )

app.layout=html.Div(style={'backgroundColor':colors['background']},
                    children=[html.H1(children='Hello Dash',
                                      style={'textAlign':'center',
                                             'color':colors['text']
                                            }
                                     ),
                              
                              html.Div(children='Dash: A web application framework for your data.',
                                       style={'textAlign':'center',
                                              'color':colors['text']
                                             }
                                      ),
                              
                              dcc.Graph(id='example-graph-2',
                                        figure=fig
                                       )
                             
                             ]
                   
                   
                   )

if __name__=='__main__':
    app.run_server(mode='external',host='ec2-18-217-190-173.us-east-2.compute.amazonaws.com',debug=True)

Dash app running on http://ec2-18-217-190-173.us-east-2.compute.amazonaws.com:8050/

###  1.1.3 Resuable Components - how to create table

In [13]:
def generate_table(dataframe,max_rows=10):
    return html.Table([
        html.Thead(
            html.Tr([html.Th(col) for col in dataframe.columns])
        ),
        html.Tbody([
            html.Tr([
                html.Td(dataframe.iloc[i][col]) for col in dataframe.columns
            ]) for i in range(min(len(dataframe),max_rows))
        ])
    ])

app=JupyterDash(__name__)

app.layout=html.Div([
    html.H4(children='Stock Linear Regression Analysis'),
    generate_table(LINEAR_REG_L40)
])

if __name__=='__main__':
    app.run_server(mode='external',host='ec2-18-191-68-173.us-east-2.compute.amazonaws.com',debug=True)

Dash app running on http://ec2-18-191-68-173.us-east-2.compute.amazonaws.com:8050/

### 1.1.4 More about Visualization 
* Create scatter plot from a Pandas dataframe

In [16]:
app=JupyterDash(__name__)

df=pd.read_csv('https://gist.githubusercontent.com/chriddyp/5d1ea79569ed194d432e56108a04d188/raw/a9f9e8076b837d541398e999dcbac2b2826a81f8/gdp-life-exp-2007.csv')

fig=px.scatter(df,x='gdp per capita',y='life expectancy',
               size='population',color='continent',hover_name='country',
               log_x=True,size_max=60
              )

app.layout=html.Div([
    html.H1('Life Expectancy VS GDP Per Capital'),
    dcc.Graph(
        id='life-exp-vs-gdp',
        figure=fig
    )
])

if __name__=='__main__':
    app.run_server(mode='external',
                   host='ec2-18-191-68-173.us-east-2.compute.amazonaws.com',
                   debug=True
                  )

/home/ubuntu/anaconda3/lib/python3.9/site-packages/jupyter_dash/jupyter_app.py:139: UserWarning:

The 'environ['werkzeug.server.shutdown']' function is deprecated and will be removed in Werkzeug 2.1.

Dash app running on http://ec2-18-191-68-173.us-east-2.compute.amazonaws.com:8050/

In [14]:
df=pd.read_csv('https://gist.githubusercontent.com/chriddyp/5d1ea79569ed194d432e56108a04d188/raw/a9f9e8076b837d541398e999dcbac2b2826a81f8/gdp-life-exp-2007.csv')
df

,Unnamed: 0,country,continent,population,life expectancy,gdp per capita
0,11,Afghanistan,Asia,31889923.0,43.828,974.580338
1,23,Albania,Europe,3600523.0,76.423,5937.029526
2,35,Algeria,Africa,33333216.0,72.301,6223.367465
3,47,Angola,Africa,12420476.0,42.731,4797.231267
4,59,Argentina,Americas,40301927.0,75.320,12779.379640
...,...,...,...,...,...,...
137,1655,Vietnam,Asia,85262356.0,74.249,2441.576404
138,1667,West Bank and Gaza,Asia,4018332.0,73.422,3025.349798
139,1679,"Yemen, Rep.",Asia,22211743.0,62.698,2280.769906
140,1691,Zambia,Africa,11746035.0,42.384,1271.211593
141,1703,Zimbabwe,Africa,12311143.0,43.487,469.709298

### 1.1.5 Markdown 
* https://commonmark.org/help/

In [18]:
app=JupyterDash(__name__)

markdown_text="""
### Dash and Markdown

Dash apps can be written in Markdown.
Dash uses the [CommonMark](http://commonmark.org/)
specification of Markdown.
Check out their [60 Second Markdown Tutorial](http://commonmark.org/help/)
if this is your first introduction to Markdown!
"""


app.layout=html.Div([
    dcc.Markdown(children=markdown_text)
])

if __name__=='__main__':
    app.run_server(mode='external',
                   host='ec2-18-191-68-173.us-east-2.compute.amazonaws.com',
                   debug=True)

Dash app running on http://ec2-18-191-68-173.us-east-2.compute.amazonaws.com:8050/